.container {
  display: flex;
  gap: 35px;
}

.document_container {
  padding: 24px;
  background-color: white;
  border-radius: var(--button-border-radius);
  max-width: 1060px;
  width: 100vw;

  height: fit-content;
}

.breadcrumb {
  width: 300px;
  max-width: 500px;

  color: black;
  font-size: 16px;
  font-family: var(--montserrat-font);
}

.document_backArrow {
  display: flex;
  align-items: center;
  gap: 14px;
}
