.burger_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  
    padding: 0 32px;
    z-index: 10;
  }
  
  .burger_inner {
    background-color: #292f41;
    border-radius: var(--input-border-radius);
  
    height: 400px;
    margin: 100px auto;
  }
  