.container_home_page {
    background-color: white;
    border-radius: 26px;
    padding: 52px 33px;
    width: 100%;
  }
  
  .title_inner {
    text-align: center;
  }
  
  .title_inner h1 {
    font-family: var(--montserrat-font);
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  
  .title_inner p {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--montserrat-font);
  }
  
  .search_param {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 22px;
    background-color: var(--basic-gray);
    border-radius: var(--input-border-radius);
    padding: 16px;
  }
  
  .button_search {
    background-color: var(--basic-yellow);
    padding: 10px;
    width: 174px;
    color: white;
    font-family: var(--montserrat-font);
    font-size: 15px;
    font-weight: medium;
    border-radius: 16px;
    border: none;
  }
  
  .search_form {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  
  .search_form input {
    width: 25vw;
  
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 9px 20px;
  }
  
  .university_list {
    margin-top: 30px;
    display: grid;
    gap: 12px;
    /* justify-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  